.login-page {
    min-height: 100vh;
    background-color: #f8f9fa;
    z-index: 1;
}

.login-box {
    width: 100%;
    max-width: 400px;
    border-radius: 12px;
    flex-direction: column;
}

.login-box .form-label {
    font-weight: 500;
}

.login-box a {
    color: #666;
}

.login-box a:hover {
    text-decoration: underline;
}

.login-btn{
    width: 200px !important;
    height: 50px !important;
}